/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  font-family: sans-serif;
}

h1 {
  font-size: 110%;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 110%;
  opacity: 60%;
  text-align: center;
}

